<%- include ('partials/header') %>

<!-- Main -->

<section class="main">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/img/pizza-big.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                    height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <p class="lead">Are you hungry ?</p>
                <h1 class="display-5 fw-bold lh-1 mb-3">Don't Wait !!</h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class=" rounded-pill btn btn-outline-warning">Order Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Menu -->
<section>
    <div class="text-center">
        <h1 class="fw-bold pt-3">All Pizza</h1>
    </div>
    <div class="m-3">
        <div class="row">
            <!-- card -->
            <% pizzas.forEach(function(pizza){ %>
                <div class="col-lg-3 col-md-4">
                <div class="card mt-3">
                    <div class="align-item-center text-center pt-2">
                        <img src="/img/pizza.png" alt="pizza img" class="rounded" width="160">
                        <div class="card-body">
                            <h4 class="card-title"><%= pizza.name %> </h4>
                            <h5 class="card-text"><%= pizza.size %></h5>
                            <h6><%= pizza.price %></h6>
                        </div>
                    </div>
                    <div class="mb-2 cursor text-center">
                        <button class="btn btn-outline-warning btn-block ">Add to Cart</button>
                    </div>
                </div>
            </div>
          <%  }) %> 
            <!-- Card end -->
        </div>
    </div>
</section>

<!-- Footer -->
<%- include ('partials/footer') %>