<%- include ('partials/header') %>

<section class="auth">
    <div id="auth" class="w-third-l mw6-l center-l ph3 container w-75 mt-5 pt-5 mb-4">
        <h1>Register</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <% if(messages.error){ %>
                <span style="color: red;" class="mt-1 mb-5"><%= messages.error %> </span>
                <br>
                <% } %>
                <label for="name">Name</label>
                <input class="form-control" id="name" name="name" value="<%= messages.name %>" placeholder="Enter Your Name" type="text"/>
            </div>
            <br>
            <div class="form-group">
                <label for="Email">Email address</label>
                <input class="form-control" id="Email" name="email" value="<%= messages.email %>" placeholder="Enter Your Email" type="email" />
            </div>
            <br>
            <div class="form-group">
                <label for="Password">Password</label>
                <input class="form-control" id="Password" name="password" placeholder="Enter Your Password"
                    type="password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary mt-3 mb-3">Register</button>
            </div>
        </form>
        <p class="tc pt3">Already have a acoount? <a href="/login">login</a></p>
    </div>
</section>

<%- include ('partials/footer') %>